.hud-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background: radial-gradient(50% 50% at 50% 50%, #44333e 0%, #05364a 100%); */
  /* background-color: #05364a; */
  display: flex;
  flex-direction: row;
  /* overflow: hidden; */
}

.hud-part {
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  /* #05364a */
  /* border: 7px solid rgb(13, 34, 42); */
  border: 5px solid #00171f;
  overflow: hidden;
}

.map-part {
  width: 40%;
  background: skyblue;
  /* filter: blur(5px); */
  /* border-bottom: 7px solid rgb(13, 34, 42);
  border-right: 7px solid rgb(13, 34, 42);
  border-top: 7px solid rgb(13, 34, 42); */
  border-bottom: 5px solid #00171f;
  border-right: 5px solid #00171f;
  border-top: 5px solid #00171f;
}

.hud-header {
  height: 12%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.hud-top-left {
  width: 20%;
  height: 100%;
  /* background-color: black; */
}

.hud-top-right {
  width: 20%;
  height: 100%;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ri-link-m {
  font-size: 2.5vw;
}

.connected {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
  font-weight: bold;
  font-family: "B612", sans-serif;
  color: rgb(0, 255, 0);
}

.disconnected {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
  font-weight: bold;
  font-family: "B612", sans-serif;
  color: red;
}

.hud-direction {
  width: 60%;
  height: 90%;
  /* background-color: rgba(12.8, 12.8, 12.8); */
  background-color: #00171f;
  border: 3px solid white;
  /* rgb(0, 0, 0, 0.6) */
  /* border-left: 3px solid #05364a;
  border-right: 3px solid #05364a;
  border-bottom: 3px solid #05364a; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.direction-arrow {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ri-triangle-fill {
  /* width: 100%; */
  font-size: 2vw;
  color: red;
  transform: scaleY(-1);
}

.direction-values {
  height: 60%;
  display: flex;
  flex-direction: row;
}

.direction-value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: "B612", sans-serif;
  color: white;
}

.hud-body {
  height: 73%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: aliceblue; */
}

.hud-display {
  width: 70%;
  height: 97%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
/* rgba(25, 96, 19, 0.5) 0%, */
/* rgba(127, 184, 93, 0.5) 100% */

.all-lines {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(162, 210, 64, 1) 0%,
    rgba(27, 139, 0, 1) 100%
  );
  overflow: hidden;
  z-index: 0;
}

.median-pitch-line {
  top: 49%;
  width: 100%;
  height: 5%;
  object-fit: contain;
  position: absolute;
  z-index: 3;
}

.pitch-lines {
  width: 30%;
  height: 50%;
  position: absolute;
  top: 28%;
  z-index: 2;
}

.arm-message {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 35%;
  display: flex;
  justify-content: center;
  font-size: 2vw;
  -webkit-text-stroke: 0.9px black;
  font-weight: bolder;
  font-family: "B612", sans-serif;
  color: rgb(255, 0, 0);
  z-index: 3;
}

.armed {
  font-size: 3vw;
  animation: hideanimation 0s ease-in 8s;
  animation-fill-mode: forwards;
}

@keyframes hideanimation {
  to {
    visibility: hidden;
  }
}

.hud-params-top {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 1%;
  display: flex;
  flex-direction: row;
  z-index: 4;
}

.hud-top-param1 {
  width: 50%;
  font-size: 1.3vw;
  -webkit-text-stroke: 0.9px black;
  font-weight: bold;
  font-family: "B612", sans-serif;
  color: white;
  display: flex;
  justify-self: start;
  align-items: flex-start;
  padding-left: 1%;
}

.hud-top-param2 {
  width: 50%;
  font-size: 1.3vw;
  -webkit-text-stroke: 0.9px black;
  font-weight: bold;
  font-family: "B612", sans-serif;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 1%;
}

.hud-params-bottom {
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 1%;
  display: flex;
  flex-direction: row;
}

.hud-bottom-param1 {
  width: 50%;
  font-size: 1.3vw;
  -webkit-text-stroke: 0.9px black;
  font-weight: bold;
  font-family: "B612", sans-serif;
  color: white;
  display: flex;
  justify-self: start;
  align-items: flex-end;
  padding-left: 1%;
}

.hud-bottom-param2 {
  width: 50%;
  font-size: 1.3vw;
  -webkit-text-stroke: 0.9px black;
  font-weight: bold;
  font-family: "B612", sans-serif;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1%;
}

.roll-lines {
  height: 29%;
  width: 100%;
  position: absolute;
  z-index: 2;
  /* background-color: tomato; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  overflow: hidden;
  top: 5%;
}

.compass-lines {
  width: 80%;
  position: absolute;
}

.ri-triangle-line {
  position: absolute;
  color: red;
  top: 30%;
  font-weight: bolder;
  /* margin-top: 50px; */
}

.hud-sky {
  position: absolute;
  width: 7000%;
  height: 7000%;
  border-bottom: 3px solid white;
  /* background-color: #05364a; */
  background: linear-gradient(
    180deg,
    rgb(75, 142, 220) 99.5%,
    rgb(148, 183, 226)
  );

  z-index: 1;
}

.hud-speed {
  width: 15%;
  height: 95%;
  display: flex;
  /* background-color: red; */
  justify-content: center;
}

.hud-speedometer {
  width: 90%;
  height: 100%;
  /* background-color: rgba(12.8, 12.8, 12.8); */
  background-color: #00171f;
  border: 3px solid white;
  /* border: 2px solid wheat; */
  /* border: 3px solid black; */
}

.hud-each-speedometer {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
}

.speed-line {
  /* background-color: purple; */
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.speed-line i {
  font-size: 3vw;
  color: wheat;
  /* color: red; */
}

#speed-home-fill {
  color: red;
  transform: rotate(90deg);
}

.speed-value {
  /* background-color: #05364a; */
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: "B612", sans-serif;
  color: white;
}

.hud-altitude {
  width: 15%;
  height: 95%;
  display: flex;
  justify-content: center;
}

.hud-altimeter {
  width: 90%;
  height: 100%;
  /* background-color: rgba(12.8, 12.8, 12.8); */
  background-color: #00171f;
  border: 3px solid white;
  /* border: 2px solid wheat; */
  /* border: 3px solid black; */
}

.hud-each-altimeter {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
}

.alt-line {
  /* background-color: purple; */
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.alt-line i {
  font-size: 3vw;
  color: wheat;
  /* color: red; */
}

#alt-home-fill {
  color: red;
  transform: rotate(-90deg);
}

.alt-value {
  /* background-color: #05364a; */
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: "B612", sans-serif;
  color: white;
}

.hud-footer {
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /* background-color: aliceblue; */
}

.hud-foot-left {
  width: 40%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hud-quicks {
  width: 98%;
  height: 95%;
  /* background-color: rgba(12.8, 12.8, 12.8); */
  background-color: #00171f;
  border: 3px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 1%;
}

.quicks-row1 {
  width: 100%;
  height: 50%;
  display: flex;
}

.quicks-row2 {
  width: 100%;
  height: 50%;
  display: flex;
}

.qi {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.qi-key {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1vw;
  font-weight: bold;
  font-family: "B612", sans-serif;
}

.qi-value {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
  font-weight: bold;
  font-family: "B612", sans-serif;
}

#item1-Val {
  color: deeppink;
}

#item2-Val {
  color: coral;
}

#item3-Val {
  color: cornflowerblue;
}

#item4-Val {
  color: darkorange;
}

#item5-Val {
  color: greenyellow;
}

#item6-Val {
  color: orangered;
}

.hud-messages {
  width: 60%;
  height: 95%;
  /* background-color: aliceblue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hud-msg {
  width: 97%;
  height: 95%;
  /* background-color: rgba(12.8, 12.8, 12.8); */
  background-color: #00171f;
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  font-size: 1.35vw;
  font-weight: bold;
  font-family: "B612", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: burlywood; */
}
